@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

mat-chip-listbox {
    display:inline-block;
}

.container {
    margin-top: 5vh;
}

h1 {
    font-family: "Gloock", serif !important; 
    font-size: 6vh;
    font-weight: 700;
    color: #416a59;
}

.date-text {
    font-size: 3vh;
    font-family: "Roboto", sans-serif !important;
}

img {
    width: 80vh;
}

.intro {
    z-index: 2;
    background-color: white;
    width: 23%;
    position: absolute;
    left: 20px;
    bottom: 350px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);

  }

  .title {
    /* display: inline-block;
    padding-top: 10vh; */
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: underline;
    color: #416a59;

  }

  .underline {
    color: #212529;
  }


  /* .intro {
    z-index: 2;
    background-color: white;
    width: 20%;
    position: absolute;
    left: 400px;
    bottom: 350px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);

  }

  .title {
    display: inline-block;
    padding-top: 10vh;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: underline;
    color: #416a59;

  } */