<main class="container-fluid">
    <div class="row m-auto custom-color">
        <div class="intro p-3 col-sm-12 col-md-12 col-lg-6">
            <h1 class="title"><span class="underline">{{camp?.name}}</span></h1>
            <h4 class="pt-2"> <i class="bi bi-geo-alt-fill"></i> Address: {{camp?.address}}</h4>
            <h5> Currently available spots: <i class="bi bi-people-fill"></i> {{camp?.spots}}</h5>
            <h5> Total price for {{ numDays }} days: {{ totalPrice | priceValue}}</h5>
            <div> Activities:
                <mat-chip-listbox aria-label="Activities" *ngFor="let cat of categories" class="mx-1">
                    <mat-chip>
                        {{cat}}
                    </mat-chip>
                </mat-chip-listbox>
            </div>
        </div>
        <div class="test col-sm-12 col-md-12 col-lg-6">
        </div>
    </div>


    <!-- <img [src]="camp?.imgUrl"> -->

    <!-- </div> -->
    <!-- <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="mt-3">
                <h4> <i class="bi bi-geo-alt-fill"></i> Address: {{camp?.address}}</h4>
                <h5> Currently available spots: <i class="bi bi-people-fill"></i> {{camp?.spots}}</h5>
                <h5> Total price for {{ numDays }} days: {{ totalPrice | priceValue}}</h5>
                <div> Activities:
                    <mat-chip-listbox aria-label="Activities" *ngFor="let cat of categories" class="mx-1">
                        <mat-chip>
                            {{cat}}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            </div>
        </div> -->

    <div class="row">
        <div class="col-6">
            <iframe width="550" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                [src]="trustedUrl" class="mt-3"></iframe>
        </div>
        <div class="col-6"> 
            <app-reservation-form></app-reservation-form>
        </div>
    </div>
</main>