<nav class="navbar header navbar-expand-lg bg-transparent px-3" [class.fixed-top] = "isFixed">
    <div class="container-fluid">
      <img id="logo" class="navbar-brand" class="" src="../../assets/images/logo.png">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/filter" routerLinkActive="active-link">Book</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/reservation-form" routerLinkActive="active-link">Camps</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>