main {
    background: url('https://rare-gallery.com/uploads/posts/372921-4k-wallpaper.jpg');
    margin: 0px;
    /* height: 100vh; */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);

}