<main>
    <div class="row">
      <div class="col-md-12 col-lg-6 ps-5 custom-height">
        <div class="moto-group">
          <h1 class="moto"><span class="custom-color">Wander</span> Often,</h1>
          <h1 class="moto">Wonder Always.</h1>
        </div>
        <div class="mt-4 pt-1 ms-3">
          <h4> {{ text }} </h4>
          <button routerLink="/filter" class="btn btn-green rounded-3 shadow text-white mt-4 px-2">FIND YOUR CAMPSITE</button>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="customContainer"> 
          <div class="carousel mt-5">
            <div class="image"><span></span></div> 
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
          </div>
        </div>
      </div>
    </div>
</main>
