<main>
    <div class="row">
      <div class="col-md-12 col-lg-6 ps-5 custom-height">
        <div class="moto-group">
          <h1 class="moto"><span class="custom-color">Wander</span> Often,</h1>
          <h1 class="moto">Wonder Always.</h1>
        </div>
        <div class="mt-5 ms-3">
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia, 
            orci et tempus sodales, justo dui vehicula mi, at sagittis ligula erat eget est. 
            Vestibulum vel ex euismod eros auctor congue nec vitae quam. Morbi ac lacinia neque, 
            id mattis felis. In erat lectus, varius sit amet porttitor non, dapibus vitae nibh. 
            Fusce erat nibh, vulputate at nibh vitae, molestie imperdiet nunc. 
          </h4>
          <button class="btn btn-green rounded-3 text-white">FIND YOUR CAMPSITE</button>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="customContainer"> 
          <div class="carousel mt-5">
            <div class="image"><span></span></div> 
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
            <div class="image"><span></span></div>
          </div>
        </div>
      </div>
    </div>
</main>
